<!DOCTYPE html>
<html>
<head>
	<title>河南圣丹建材</title>
	<meta charset="utf-8" name="建材" content="河南圣丹建材">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<!-- S header  -->
	<div class="header fn-clear">
		<img class="logo fn-left" src="img/logo.jpg" width="90" height="90">
		<h2 class="fn-left">河南圣丹建材</h2>
	</div>
	<!-- E header -->

	<!-- S content -->
	<div class="content">
		<div class="block">
			<div class="info">
				<h3>提供一站式建材供应体验</h3>
				<ul>
					<li>便捷</li>
					<li>高效</li>
					<li>安全</li>
				</ul>
			</div>
		</div>

		<div class="subcontent">
			<h3>系列产品</h3>
			<p>种类多样，总有你想要的</p>
			<ul class="fn-clear">
				<li class="fn-left"></li>
				<li class="fn-left"></li>
				<li class="fn-left"></li>
				<li class="fn-left"></li>
				<li class="fn-left"></li>
			</ul>
		</div>
	</div>
	<!-- E content -->

	<script src="https://cdn.bootcss.com/jquery/1.10.0/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>