<!DOCTYPE html>
<html>
<head>
	<title>河南圣丹建材</title>
	<meta charset="utf-8" name="建材" content="河南圣丹建材">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="shortcut icon" href="http://shengdanjs.oss-cn-beijing.aliyuncs.com/favicon.ico">
</head>
<body>
	<!-- S header  -->
	<div class="header fn-clear">
		<img class="logo fn-left" src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/logo2.png" width="90" height="90">
		<h2 class="fn-left">河南圣丹建材</h2>
	</div>
	<!-- E header -->

	<!-- S content -->
	<div class="content">
		<div class="subcontent">
			<h3>公司简介</h3>
			<div class="intro">
				<p>浙江圣丹实业集团旗下控股公司上海圣丹化工涂料有限公司是一家专业生产油漆、涂料等产品的高科技化工企业。全国建筑装饰装修材料优质品牌。</p>
   			<p>圣丹公司作为国内知名涂料公司，多年来一直致力于环保漆的开发和研制，时刻关注人类生存的环境，始终将环境保护放在首位。圣丹的信条：“环保”不是结果，而是持之以恒的过程。 </p>
				<p>秉承优良的传统，圣丹漆始终将环保理念贯穿于所有的研发、制造环节。</p>
    		<p><span>配方设计：</span>在产品的研制伊始，即排除含有苯、甲醛等有害物质的原料，以环保理念指导研发方向。 </p>
   			<p><span>原材料：</span>圣丹漆所用的原材料来自于知名品牌，如杜邦、罗门哈斯，从而为生产出优质“绿色”的产品奠定了坚实的基础。 </p>
    		<p><span>空气净化流程：</span>从配料、混合、分散、调制过滤至包装的生产全过程，均按无粉尘无燥音、安全环保的标准来设置，实行无污染、无公害化生产。 </p>
    		<p><span>废水处理流程：</span>配料负压操作， 粉尘（原料）集中收集循环使用。车间废水经沉降 、生化处理、过滤，达到排放标准。原料包装袋可回收造纸。 </p>
    		<p><span>产品安全：</span>公司产品经过国家权威机构的严格检测认证，全部达到并大大优于国家对VOC 、苯等有害物的控制标准。</p> 
    	</div>
		</div>

		<div class="subcontent sub1">
			<p class="bg"></p>
			<div class="box">
				<h3>系列产品</h3>
				<p>种类多样，总有你想要的</p>
				<ul class="fn-clear">
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good1.jpg" width="190" height="230">
						<h4>乳胶漆真石漆</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							本产品具有附着力好，防水、防霉、防藻等良好性能，同时具有双重功能，即能做高档底漆又能做高品位面漆，底涂能有效保护外层乳胶漆免受水泥的化学性破坏，同时能节省面漆的耗漆量，是建筑工程外墙广泛采用的理想产品。
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good2.jpg" width="190" height="230">
						<h4>瓷砖粘接剂</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							产品特性：粘结力超强，稠度好，瓷砖上墙后离手不会下滑，且不影响砖面校对。施工性十分优越。有普通瓷砖胶与强力瓷砖胶（玻化砖大理石适用）两款，20KG装。</br>
							1、基层面应保证无浮灰；</br>
							2、1份水兑4份本品，搅拌后静置5-10分钟，然后再搅拌2分钟，即可使用，请在4小时内使用完毕；宜用齿形刮板。</br>
							3、根据不同施工习惯，本品每包可施工3-5平方。
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good3.jpg" width="190" height="230">
						<h4>免胶白水泥</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							取代白水泥+107胶传统施工方式。<span>107胶学名为聚乙烯醇缩甲醛胶黏剂，由于甲醛含量严重超标，2001年国家建设部把其列入被淘汰的建材产品的名单中，在家庭装修中禁止使用。</span></br>
							本产品绿色环保，适用于内墙墙面，无需添加胶水，加水搅拌即可使用，批刮轻松，易打磨。20KG、30KG、40KG皆有。</br>
							施工成本远小于传统方式。
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good4.jpg" width="190" height="230">
						<h4>嵌缝膏</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							产品特性：施工性好，易砂磨，保证接缝处平整，不开裂。突出的耐候性：耐霜冻，耐热，经几年曝晒完好无损；</br>
							可靠的防水性：能保证防水质量，水中久泡，性能变化很小；</br>
							优良的粘结性：与多种建筑材料粘结牢固；
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good5.jpg" width="190" height="230">
						<h4>防霉彩色填缝剂</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							圣丹高级填缝剂已上市，纯白、米黄、青灰等色，高强度、防霉、抗返碱。敬请选购。
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="subcontent sub2">
			<div class="box">
				<h3>腻子分类</h3>
				<p>种类齐全的腻子粉</p>
				<ul class="fn-clear">
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good6.jpg" width="190" height="230">
						<h4>内墙腻子粉</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							用于内墙刮平处理，易刮涂、易打磨，保水性特别佳，施工随心所欲， 表面光滑细腻，能节省面涂耗量。20KG装与40KG装两个规格。普通型工程用，细白型家装用，精装超白型高档装修用。施工时应批刮两遍，每平方约耗料2公斤。</br>
							1. 每10公斤腻子粉加入4公斤水，宜电动搅拌均匀静放5-10分钟后再搅拌，开始上墙使用；</br>
							2. 墙面干燥牢固无开裂、无旧涂层，施工效果最佳。</br>
							（注意以上两点，避免起泡现象）</br>
							3. 混凝土现浇顶面应先用圣丹找平腻子打底；</br>
							4. 一般应批刮两遍，厚度在0.1-0.5厘米，每平方米内墙施工耗料约2公斤。</br>
							5. 本品粉料较细，建议用320目砂纸打磨。
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good7.jpg" width="190" height="230">
						<h4>外墙腻子粉</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							本产品具有超强的附着力和良好的施工性；防止粉化、起皮、龟裂等现象；  耐久性、耐候性佳；  省时省料、细腻又光洁，耐水，耐碱，无毒，质量稳定。20KG与40KG两个规格。施工时应批刮两遍，每平方约耗料2.5公斤。产品有乳胶漆适用、真石漆适用、弹性涂料适用等多品种，敬请选择。
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good8.jpg" width="190" height="230">
						<h4>粉刷石膏</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							主要用于建筑物室内各种墙面和顶棚抹灰，不适用于卫生间、厨房等常与水接触的地方。施工方便，效率高，落地灰少，外表细腻光滑，不空鼓，绿色环保，防霉抗菌。</br>
							1. 混合比例应合适，推荐参照建议配合比。</br>
							2. 一次投料量应在规定的时间内用完。初凝后料浆不得再次加水搅拌使用。</br>
							3. 先将水倒入搅拌桶，再倒入灰料，搅拌2~5分钟，使料浆达到合适的稠度，静置5分钟后再进行第二次搅拌后使用。</br>
							4. 批刮厚度宜0.6-1cm。
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good9.jpg" width="190" height="230">
						<h4>防脱、防霉</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							️顶棚打底专用！</br>

							顶棚脱落圣丹公司全赔</br>

							谷雨顶棚防脱腻子</br>
							1:具有高强附着力，抗裂防脱</br>
							2:有效的和混凝土现浇板基础紧密结合，防脱落，易施工易找平。</br>
							3:选择谷雨防脱腻子签订合同约定，全程质量担保，脱落圣丹公司负责到底！</br>

							地库防霉腻子适用范围:</br>
							适用于内墙各种墙体的打底找平,特别是高层建筑底层地下室,浴池,卫生间等,可长期耐水浸泡,适用学校,医院,药厂,宾馆等建筑墙体装饰.</br>
							使用说明:</br>
							1.要求基层无油脂,浮尘,松散物,找补基层磕碰,缺陷,孔洞,裂缝等.</br>
							2.在容器中加入适量的水后,加入腻子粉用搅拌器充分搅拌均匀,静置5-6分钟后再次搅拌即可施工.</br>
							3.本产品配合防霉杀菌界面剂使用可彻底消除墙体表面的霉斑, 绿毛.</br>
						</div>
					</li>
					<li class="fn-left">
						<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/good10.jpg" width="190" height="230">
						<h4>瓷砖翻新腻子</h4>
						<div class="introinfo">
							<p>产品介绍</p>
							一、瓷砖翻新专用腻子是针对旧瓷砖、马赛克、石材等旧墙面翻新的专用腻子，直接在旧墙上批刮翻新腻子。采用高分子材料与无机胶凝材料配合，粘结强度高，良好的抗渗性，与光滑的釉面砖或马赛克表面形成高强度整体。
							二、1。使用时按粉：水约1：0.4比例用电动搅拌器充分搅拌均匀，放置5分钟后可用。 2、	混合好的腻子建议3小时内用完，高温天气2小时内，视实际情况适当加水调节稠度，超时干固的腻子禁止使用。
							3、墙面必须清洁，无油脂、灰尘、污垢、风化物、泥土等杂物。保证墙面干燥，有空鼓及破损的旧瓷砖、马赛克要全部清除掉，然后用砂浆修补平整。
							4、批嵌工具批刮1—2遍，由于基层的平整度不同，每遍腻子理论用量为0.6—1Kg/m2 。 5、 腻面实干后方可进行下遍腻子批刮，最后一遍腻子实干后，方可进行下道工序施工。 三、	注意事项 1、	本品阴凉干燥处贮存，严禁受潮。 2、	施工温度5--40℃，空气相对湿度<80%。 3、	施工后12小时内避免避免雨淋及霜冻。
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="subcontent sub3">
			<p class="bg"></p>
			<div class="box">
				<h3>公司活动</h3>
				<p>优惠、合作、互利、共赢</p>
				<ul class="fn-clear">
					<li class="fn-left">
						<em></em>
						<h4>诚招县级代理</h4>
						<p>即日起诚招墙面产品“豫西+省会地区”县级代理商，条件优惠，奖励丰厚。机会有限，抢占先机就是赢！联系：18695998982(郭经理)</p>
					</li>
					<li class="fn-left">
						<em></em>
						<h4>本季度促销活动</h4>
						<div class="extra-box">
							<p>
								1. 免胶白水泥2017年三季度批发客户有优惠。</br>
								2. 粉刷石膏三季度批发客户有满就送活动。</br>
								3. 内墙腻子粉随机赠送高定毛巾。</br>
							</p>
							<div class="extra">
							活动详情咨询:</br>
							15090169993 谢经理</br>
							13007561886 李经理</br>
							15225403744 珂经理</br>
							18638839378 杜经理</div>
						</div>
						
					</li>
					<li class="fn-left">
						<em></em>
						<h4>背涂胶买一送一</h4>
						<p>购买瓷砖背涂胶（单组份，5升装）送价值50元大理石玻化砖胶泥一包，配套使用，效果最佳。</p>
					</li>
					<li class="fn-left">
						<em></em>
						<h4>速溶胶粉五送一</h4>
						<p>最新产品多功能速溶胶粉，一包300克加水30公斤，搅伴溶解即成建筑胶水，批墙贴砖，用途广泛。牢度强，易操作，告别胶水搬运过程，成本降低。活动期间买五送一。</p>
					</li>
					<li class="fn-left">
						<em></em>
						<h4>刮腻子的学问</h4>
						<p>腻子的分类?腻子的组成成份？耐水腻子的优点？腻子怎么使用？腻子开裂起泡？...<a href="https://mp.weixin.qq.com/s/SGQ2zGuU5pTB89yJBikYpg">了解详情</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- E content -->

	<!-- S footer -->
	<div class="footer">
		<div class="wrap">
			<ul>
				<li>
					<h4>系列产品</h4>
					<p>乳胶漆真石漆</p>
					<p>瓷砖粘结剂</p>
					<p>免胶白水泥</p>
					<p>嵌缝膏</p>
					<p>防霉彩色填缝剂</p>
				</li>
				<li>
					<h4>腻子粉类</h4>
					<p>内墙腻子粉</p>
					<p>外墙腻子粉</p>
					<p>粉刷石膏</p>
					<p>防脱、防霉</p>
					<p>瓷砖翻新腻子</p>
				</li>
				<li>
					<h4>公司活动</h4>
					<p>诚招县级代理</p>
					<p>本季度促销活动</p>
					<p>背涂胶买一送一</p>
					<p>速溶胶粉五送一</p>
					<p>刮腻子的学问</p>
				</li>
				<li>
					<h4>联系我们</h4>
					<p>服务热线：0379-67088971</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<img src="http://shengdanjs.oss-cn-beijing.aliyuncs.com/qrcode.png" width="60" height="60"/>
				</li>
			</ul>
		</div>
		<div class="copyright">
			Copyright &copy; 2017 河南圣丹建材 技术支持：<a href="https://panfen.github.io/">Panfen</a>
		</div>
	</div>
	<!-- E  -->

	<script src="https://cdn.bootcss.com/jquery/1.10.0/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>