*{
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif
}
.fn-left{
  float: left;
}
.fn-right{
  float: right;
}
.fn-left, .fn-right{
  display: inline;
}
.fn-clear:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
h2,h3,h4{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}


/*header*/
.header{
  line-height: center;
  padding: 60px 0 60px 60px;
  background: url(http://shengdanjs.oss-cn-beijing.aliyuncs.com/pic1.jpg) no-repeat right center;
}
.header h2{
  padding: 28px  0 0 26px;
  font-weight: 200;
  font-family: "微软雅黑";
  text-shadow: 0 0 1px #ccc;
}

/*content*/
.subcontent{
  position: relative;
  padding: 50px 0;
}
.subcontent:last-child{
  margin-bottom: 0;
}
.subcontent h3{
  text-align: center;
  margin: 10px auto;
  font-weight: 200;
}
.subcontent p{
  text-align: center;
  margin-bottom: 20px;
}
.subcontent .intro{
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
.subcontent .intro p{
  text-align: left;
  text-indent: 2em;
  margin-bottom: 4px;
}
.subcontent .intro p:nth-child(3){
  margin-bottom: 8px;
}
.subcontent .intro p span{
  font-weight: 600;
  display: inline-block;
  background: url(http://shengdanjs.oss-cn-beijing.aliyuncs.com/check.jpg) no-repeat 0px 2px;
  background-size: 20px 20px;
}
.subcontent .box{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.subcontent ul{
  max-width: 1040px;
  margin: 0 auto;
}
.subcontent ul li{
  width: 200px;
  height: 300px;
  margin-right: 10px;
}
.subcontent ul li:last-child{
  margin-right: 0;
}
.subcontent .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(http://shengdanjs.oss-cn-beijing.aliyuncs.com/pic2.jpg) repeat;
  opacity: 0.1;
}
.subcontent.sub1{
  min-height: 500px;
}
.subcontent .box ul li{
  padding: 5px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1)
}
.subcontent .box ul li:hover .introinfo{
  opacity: 1;
  -moz-opacity: 1;  
  -khtml-opacity: 1; 
  filter: Alpha(opacity=100);
}
.subcontent .box ul li .introinfo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #eee;
  opacity: 0;
  -moz-opacity: 0;  
  -khtml-opacity: 0; 
  filter: Alpha(opacity=0);
  transition: opacity .5s ease;
  padding: 10px;
  font-size: 12px;
  overflow: auto;
  background: rgba(0,0,0,0.8);
}
.subcontent .box ul li .introinfo::-webkit-scrollbar{
  width: 4px;
  background-color: #f5f5f5;
}
.subcontent .box ul li .introinfo p{
  margin: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #fff;
}
.subcontent .box ul li .introinfo span{
  color: #f9455e;
}
.subcontent .box ul li{
  position: relative;
}
.subcontent .box ul li h4{
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.subcontent.sub2{
  min-height: 500px;
}
.subcontent.sub3{
  min-height: 440px;
}
.subcontent.sub3 .bg{
  background: url(http://shengdanjs.oss-cn-beijing.aliyuncs.com/pic3.jpg) repeat;
}
.subcontent.sub3 .box ul li{
  background: none;
  box-shadow: none;
  height: 264px;
}
.subcontent.sub3 .box ul li em{
  margin: 20px auto;
  display: block;
  position: relative;
}
.subcontent.sub3 .box ul li:nth-child(1) em,
.subcontent.sub3 .box ul li:nth-child(2) em{
  width: 30px;
  height: 30px;
  background: #ffab0a;
  border-radius: 50%;
}
.subcontent.sub3 .box ul li:nth-child(2) em{
  background: #1cb669;
}
.subcontent.sub3 .box ul li:nth-child(2) em:after{
  content: "";
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 9px;
}
.subcontent.sub3 .box ul li:nth-child(3) em{
  width: 0px;
  height: 0px;
  margin-bottom: 26px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #419794;
}
.subcontent.sub3 .box ul li:nth-child(4) em{
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(84, 182, 28, 0.8);
  border-bottom: 15px solid rgba(84, 182, 28, 0.8);
}
.subcontent.sub3 .box ul li:nth-child(5) em{
  width: 30px;
  height: 30px;
  background: url(http://shengdanjs.oss-cn-beijing.aliyuncs.com/know.png) no-repeat center center;
  background-size: 36px 36px;
}
.subcontent.sub3 .box ul li h4{
  text-align: center;
  font-size: 16px;
}
.subcontent.sub3 .box ul li p{
  font-size: 14px;
  margin-top: 12px;
  color: #666;
  padding: 0 10px;
  text-align: left;
}
.subcontent.sub3 .box ul li .extra-box{
  position: relative;
  cursor: pointer;
}
.subcontent.sub3 .box ul li .extra-box:hover .extra{
  opacity: 1;
}
.subcontent.sub3 .box ul li .extra-box .extra{
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 10px;
  transition: opacity 0.5s ease;
  background: rgba(0,0,0, 0.7);
}
.subcontent .box{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 40px 0 60px 0;
}

/*footer*/
.footer{
  width: 100%;
  min-height: 120px;
  background: #333;
}
.footer .wrap{
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px 0;
}
.footer .wrap ul li{
  width: 24%;
  min-width: 200px;
  padding-left: 20px; 
  position: relative;
  display: inline-block;
  margin-top: 20px; 
}
.footer .wrap ul li h4{
  font-size: 15px;
  color: #F18B32;
  margin-bottom: 8px;
}
.footer .wrap ul li p{
  color: #ccc;
  margin-bottom: 2px;
}
.footer .wrap ul li img{
  position: absolute;
  top: 56px;
  left: 20px;
}
.footer .copyright{
  color: #fff;
  font-size: 12px;
  background: #111;
  line-height: 40px;
  text-align: center;
}

/* MEDIA QUERY
============================== */
/* Smaller than standard 960 (devices and browsers) */

@media only screen and (min-width: 676px) and (max-width: 1110px) {
  .subcontent .box ul li{
    margin: 0 0 20px 20px;
  }
  .subcontent.sub1, .subcontent.sub2{
    min-height: 810px;
  }
  .subcontent.sub3{
    min-height: 670px
  }
}
@media only screen and (min-width: 456px) and (max-width: 676px) {
  .subcontent .box ul li{
    margin: 0 0 20px 20px;
  }
  .subcontent.sub1, .subcontent.sub2{
    min-height: 1130px;
  }
  .subcontent.sub3{
    min-height: 950px
  }
}

@media only screen and (max-width: 456px) {
  .subcontent .box ul li{
    position: static;
    display: block;
    margin: 20px auto;
    float: none;
    position: relative;
  }
  .subcontent.sub1, .subcontent.sub2{
    min-height: 1770px;
  }
  .subcontent.sub3{
    min-height: 1540px
  }
}